*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
libraryXRichText/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties.orig
libraryXRichText/build/intermediates/incremental/packageDebugResources/compile-file-map.properties.orig
